@model IEnumerable<EldenRing.Models.ArmorSetModels.ArmorSetListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p class="createbtn">
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArmorSetId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfArmor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pieces)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhysicalProtection)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArmorSetId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfArmor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pieces)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhysicalProtection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ArmorSetId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ArmorSetId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ArmorSetId })
            </td>
        </tr>
    }

</table>
